[Unit]
Description= Blink LED em Python
After=multi-user.target

[Service]
ExecStart=/user/bin/python3 /home/sel/2815/Aula5/LEDPWM.py #Inicializa o python depois o LEDPWM
ExecStop=/home/sel/2815/Aula5/LEDPWM_stop.py #Roda o LEDPWM_stop quando o service é interrompido
user=SEL

[Install]
WantedBy=multi-user.target
